<div class="column ">
    <% if user_signed_in? %>
        <article class="media box">
        <!--
            <figure class="media-left">
                <p class="image is-64x64">
                    
                </p>
            </figure>
        -->
            <div class="media-content">
                <%= render form_path, form_object1: form_object, object_desciption: :description, object_date: :event_date %>
            </div>
        </article>
    <% end %>
    <div class="title">
        <h1><strong>Events</strong></h2>
    </div>
    <% form_objects_future.each do |post_feed| %>
        <%= render 'show_form_main', name_user: post_feed.creator.name, 
        username_user: post_feed.creator.username, title_form: post_feed.title, 
        date_form: post_feed.event_date, description_form: post_feed.description, 
        form_view: post_feed, edit_path_form: edit_event_path(post_feed), 
        id_user: post_feed.creator_id, form_view: post_feed, valid_join: true %>    
    <% end %>
    <div class="title">
        <h1><strong>Past Events</strong></h2>
    </div>
    <% form_objects_past.each do |post_feed| %>
        <%= render 'show_form_main', name_user: post_feed.creator.name, 
        username_user: post_feed.creator.username, title_form: post_feed.title, 
        date_form: post_feed.event_date, description_form: post_feed.description, 
        form_view: post_feed, edit_path_form: edit_event_path(post_feed), 
        id_user: post_feed.creator_id, form_view: post_feed, valid_join: false %>    
    <% end %>
</div>
