<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'feed', form_object: @event, form_objects: @events, form_path: 'events/form'%>
    </div>
  </div>
</section>

